.product-font {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.my-name {
    background: purple !important;
    color: #fff;
    font-weight: bold;
}


/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

.outer-div-pdc {
    display: flex;
    flex-wrap: wrap;
}
.left-div-pdc {

}
.right-div-pdc {
    width: 40%;
    margin: 1% 0 0 4%;
}

#quantity-1 {
    width: 18% ;
    
}
.pdc-qty {
    margin: 5% 0% 4% 0% !important;
}
.pdc-qty-input {
    margin: -1% 0px 0px 4%;
}
.category-name {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    /* cursor: pointer; */
    color: black;
}

@media only screen and (max-width: 600px) {
    #quantity-1 {
        width: 100%;
    }
}
